<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">Trocar a cor</button>
<h1 [ngStyle]="{ background: corFundo, color: corDaFonte }">CURSO ANGULAR</h1>
<h1>Lista de compras</h1>
<p>adicione um item</p>
<input type="text" [(ngModel)]="item" />
<button (click)="adicionarLista()">Adicionar</button>
<p>{{ item }}</p>

<ul>
  <li *ngFor="let elemento of lista">{{ elemento }}</li>
</ul>

<hr />

<!-- ng template é uma tag do proprio angular ao qual se pode adicionar coisas sem habilitar a mesma -->
<ng-template [ngIf]="isEnableBlock">
  <a href="#">Finalizar compra</a>
</ng-template>

<!-- ng content serve para que voce possa passar algum conteudo do elemento pai para o elemento filho dinamicamente, nesse exemplo eu adiciono o html no app component e chamo o elemento pelo ng content onde eu posso colocar em qualquer lugar da página que eu queira -->
<ng-content select="h2"></ng-content>

<hr />
